@import "screens";

$bg-color-1: #181B21;
$tx-color-1: rgba(255, 255, 255, 0.8);
$tx-color-2: #009F99; // also accent color
$font-sans: "Inter", system-ui, "Helvetica Neue", "Open Sans", "Cantarell", "Avenir", sans-serif;

body {
  display: block;
  font-family: $font-sans;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding-top: 3.5rem;
  box-sizing: border-box;
  color: $tx-color-1;
  background: $bg-color-1;
}

a {
  text-decoration: none;
  color: $tx-color-2;
}

p {
  display: block;
  margin: auto;
  max-width: 50ch;
}
