body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#main {
  margin: auto;
  display: flex;
  flex-direction: column;
}

details {
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 3.5rem;
  padding: 0 0 2rem 0;
  margin: 0 auto;
}

nav {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

nav > * {
  margin-bottom: 0.5rem;
}
