body {
	text-align: justify;
	font-family: "Computer Modern Serif", "Liberation Serif", "Georgia", serif;
	max-width: 80ch; /* refine this w/ media queries for responsive design */
	margin: auto;
	padding: 5rem 0;
}

.verbatim {
	font-family: font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace !important;
}