body {
	font-family: "Computer Modern Serif", "Liberation Serif", "Georgia", serif;
	max-width: 80ch; /* refine this w/ media queries for responsive design */
	margin: auto;
	padding: 5rem 0;
}

.abstract {
	margin-bottom: 1em; 
	margin-left: 60px; 
	margin-right: 60px;
}

.abstract p {
	text-align: justify;
}

@media screen and (max-width: 768px) {
	body {
		max-width: 90%;
	}

	.abstract {
		margin-left: 50px;
		margin-right: 50px;
	}
}

@media screen and (max-width: 480px) {
	.abstract {
		margin-right: 1rem;
		margin-left: 1rem;
	}
}

.verbatim {
	font-family: font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace !important;
}