<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="author" content="Project Elära contributors" />
  <meta name="description" 
  		content="{%- if page.description %} {{ page.description }} {%- else %}Building an open-source community of researchers and scientists{%- endif %}" />
  <!--OpenGraph metadata-->
  <meta property="og:title"
  		content="{%- if page.title %} {{ page.title }} {%- else %}Project Elära{%- endif %}" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="{{ get_url(path="logo.png", trailing_slash=false) | safe }}" />
  <meta property="og:description"
  		content="{%- if page.description %} {{ page.description }} {%- else %}Building an open-source community of researchers and scientists{%- endif %}" />
  <title>{%- if page.title %} {{ page.title }} {%- else %}Project Elära{%- endif %}</title>
  {% block css %}
  <link rel="stylesheet" href="{{ get_url(path="site.css", trailing_slash=false) | safe }}">
  {% endblock css %}

</head>
<body>
  <nav>
  	<a href="/">Home</a>
  	<div id="menu">
  		<div id="closemenu">
  			<p>Close</p>
  			<div>
  				<!--Close icon-->
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);"><path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path></svg>
  			</div>
  		</div>
	  	<a href="/about">About</a>
	  	<a href="https://elaraproject.github.io/elara-handbook/">Docs</a>
	  	<a href="https://github.com/elaraproject/elara-publications">Publications</a>
	  	<a href="/news">News</a>
	  	<a href="/contribute">Contribute</a>
  	</div>
  	<div id="menu-hamburger">
  		<p>Menu</p>
  		<!--Hamburger menu icon-->
  		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1)"><path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path></svg>
  	</div>
  </nav>
  {% block content %}
  {% endblock %}

  <script>
  	
	const closemenu = document.getElementById("closemenu");
	const hamburgermenu = document.getElementById("menu-hamburger");
	const menu = document.getElementById("menu");

	hamburgermenu.onclick = function() {
		menu.style.display = "flex";
	}

	closemenu.onclick = function() {
		menu.style.display = "none";
	}
  </script>
</body>
</html>
