<!DOCTYPE HTML>
<!-- this is a LEGACY page that redirects /contributors-list to the
	main /contribute page -->
<html>
	<title>Legacy contributors list</title>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <!-- this is for making sure no links are broken -->
        <!-- due to how GitHub pages works
             we must use the absolute URL
             see https://maximorlov.com/deploying-to-github-pages-dont-forget-to-fix-your-links/ -->
        <meta http-equiv="refresh" content="0; url=https://elaraproject.github.io/contribute">
	</head>
	<body>
	</body>
</html>
