{% extends "base.html" %}

{% block content %}
<header>
    <h1>{{ section.title }}</h1> 
  	<p>{{ section.extra.subtitle }}</p>
    <div class="header-btns-container">
        <button class="btn bg-accent">
            <a href="{{ get_url(path='intro-elara-poster.pdf') }}">Quick guide</a>
        </button>
        <button class="btn outline-highlight">
            <a href="https://elaraproject.github.io/elara-technical-overview/" class="text-highlight">Technical overview</a>
        </button>
    </div>
</header>

<main>
  	{{ section.content | safe }}
</main>
{% endblock content %}
